@import "./colors.scss";

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  background-image: url("/img/fields.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-container {
  color: white;
  text-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-button {
  background-color: transparent;
  border: solid white 2px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-shadow: $shadow;
  box-shadow: $shadow;
  border-radius: 2px;
  margin-top: 1rem;
  h4 {
    margin: 0;
  }
}

.gallery-button:hover {
  transform: translateY(-2px);
}

@media (min-width: 760px) {
  .banner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
